body {
    font-family:"Roboto","Raleway", sans-serif;
    color: #434455;
    font-size: 14px;
    background-color: #ffffff;
}
  
ul{
    list-style-type: none;
}

a{
  text-decoration:none
}
 /*Хедер*/

   .logo {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .logo-text {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42;
 }

 .header-list {
    font-family:"Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    text-decoration: none;
  }

  .header-list-title{
    font-family:"Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    text-decoration: none;
  }
  

  .header-list-title:hover , .header-list-title:active{
    color:#404bbf;
    text-decoration:underline;
  }

/*Contacts*/

  .contact{
    font-style: normal;
  }

  .contact-list{
  font-weight: 400;
  font-size: 16px;  
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  }

  .contact-list:hover , .contact-list:active{
    color:#404bbf
  }

  /*Main-Content*/

.main-container{
    font-family:"Roboto";
    font-weight: 700;
    font-size: 56px; 
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color:#ffffff;
    background-color: #2e2f42;
}

.main-button{
 font-family:"Roboto", sans-serif;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.04em;
 color:white;
 background-color: #4d5ae5;
 cursor: pointer;
}

.main-button:hover .main-button:active{
  background-color: #404bbf ;
}

/*Work*/

.container{
  
}

.title-primary{
 font-family:"Roboto";
 font-weight: 500;
 font-size: 20px; 
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: #2e2f42;
}

.paragraph{
 font-family:"Roboto";
 font-weight: 400;
 font-size: 16px; 
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455; 
}

/*Images*/

.image-title{
 font-family:"Roboto";
 font-weight: 700;
 font-size: 36px; 
 line-height: 1.11111;
 letter-spacing: 0.02em;
 text-align: center;
 color: #2e2f42;
}

.photo-title{
 font-family:"Roboto";
 font-weight: 500;
 font-size: 20px; 
 line-height: 1.2;
 letter-spacing: 0.02em;
 text-align: center;
 color: #2e2f42;
}

.image-caption{
 font-family:"Roboto";
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 text-align: center;
 color:#434455 
}

/*Portfolio*/

.portfolio-title{
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.project-title{
  font-family:"Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2 ;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;          
}

.project-paragraph{
  font-family:"Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;          
}

/*Footer*/

.footer{
  background-color: #2e2f42;
}

.logo-footer{
  font-family:"Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4f4;
}

.logo-footer-text {
  font-family:"Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.text{
  font-family:"Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4f4;       
}

