body {
    font-family:"Roboto", sans-serif;
    color: #434455;
    font-size: 14px;
    background-color: #ffffff;
}
  
ul{
    list-style-type: none;
    padding-left:0 ;
    margin: 0;
}

a{
  text-decoration:none
}

img {
	display: block;
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  margin-bottom: 0;
}

p{
  margin: 0;
}

 /*Хедер*/
  
 .header {
  border-bottom: 1px solid #e7e9e7;
  display: flex;
  align-items: center;
}

.header-nav,
.contact-list{
  display: flex;
  align-items: center;
}

   .logo {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .logo-text {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42;
 }

 .header-list{
  display: flex;
  margin-right:auto;
}

 .header-list-item {
    font-family:"Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    text-decoration: none;
    margin-right: 10px;
  }


  .header-list-title{
    font-family:"Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    text-decoration: none;
  }
  

  .header-list-item:hover , .header-list:focus{
    color:#404bbf;
    text-decoration:underline;
  }

/*Contacts*/

  .contact{
    font-style: normal;
    margin-left: auto;
  }

 .contact-list-item{
  display: flex;
  align-items: center;
 }

  .contact-list{
  font-weight: 400;
  font-size: 16px;  
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  }

  .contact-list:hover , .contact-list:focus{
    color:#404bbf
  }

  /*Main-Content*/

 

.main-container{
    font-family:"Roboto" sans-serif;
    font-weight: 700;
    font-size: 56px; 
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color:#ffffff;
    background-color: #2e2f42;
    padding: 188px 0;
    width: 1440px;
}

.main-title{
  font-family:"Roboto";
  font-weight:700;
  font-size:56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;          
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 48px;
}

.main-button{
 font-family:"Roboto", sans-serif;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.04em;
 color:white;
 background-color: #4d5ae5;
 cursor: pointer;
 margin: 0 auto;
 display: block;
 height: 56px;
 padding-left: 32px;
 padding-right: 32px;
 min-width: 169px;
 border: none;
 border-radius: 4px;
}

.main-button:hover , .main-button:focus{
  background-color: #404bbf ;
}

/*Section 2*/

.container-advantages{
  padding: 120px 0;
}

.advantages{
  display: flex;
  gap: 24px;
  width: 1440px;
}

.title-primary{
 font-family:"Roboto";
 font-weight: 500;
 font-size: 20px; 
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: #2e2f42;
 margin-bottom: 8px;
}

.paragraph{
 font-family:"Roboto";
 font-weight: 400;
 font-size: 16px; 
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455; 
}

/*Section 3*/
.container {
  background-color: #f4f4fd;
  padding: 120px 0;
  text-align: center;
}

.ourteam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourteam-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  background-color: #ffffff;
  text-align: center;
  padding: 24px;
  width: 264px;
  margin: 16px;
}

.photo-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 0; 
}

.image-caption {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 0;
}

.list img {
  margin-bottom: 16px;
}


/*Section 4*/

.container-portfolio{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: auto;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-list-item {
  width: 300px; 
  margin: 20px; 
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-list-item img {
  width: 100%; 
  height: auto; 
  margin-bottom: 10px; 
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.project-title, .project-paragraph {
  margin: 0;
}

.portfolio-title{
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.project-title{
  font-family:"Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;          
}

.project-paragraph{
  font-family:"Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;          
}

/*Footer*/

.footer{
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-footer{
  font-family:"Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px
}

.logo-footer-text {
  font-family:"Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:#f4f4fd;
  width: 264px;
  height: 112px;
}

.text{
  font-family:"Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--main-text-color);
  width: 264px;
  height: 112px;
  display: inline-block;     
}

:root {
  --main-text-color: #F4F4FD;
}

















